.reportExists::before,
.reportDoesntExist::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  @media (max-width: 450px) {
    margin-top: 30px;
  }
}

.reportExists::before {
  background: green;
}

.reportDoesntExist::before {
  background: red;
}
