.auth-container {
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 0;
  }

  .login-container,
  .register-container,
  .forgot-password-container,
  .reset-password-container {
    flex: 3; /* this will take up 30% of the space */

    @media (max-width: 768px) {
      flex: 10;
    }
  }

  .image-container {
    flex: 7; /* this will take up 70% of the space */
  }
}
