@import "./login.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.Create_Container {
  @extend .Login_Container;

  .Form_Input {
    width: 100%;
  }
  .brand-check,
  .form-check {
    margin-top: 10px;
  }

  .Check_Label,
  .form-check-label {
    margin-left: 5px;
  }
}
