@import "./dashboard.scss";
@import "./main.scss";

.DailyReport_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;

  .DailyReportTable_Container {
    @extend .Shadow;
    @extend .Container_Padding;
  }

  .Submit_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: $primaryMargin;
    background: blue;
    color: white;
    border: none;
  }

  table {
    width: 100%;
  }

  td,
  tr,
  th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  td,
  tr,
  th,
  table {
    border-style: solid;
    border-width: 1px;
  }

  .Download_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1976d2;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 0.35rem;
    border-style: none;
  }

  #Download_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      @extend .Download_Link;
      background: black;
    }
  }
}
