@import "./dashboard.scss";
$primaryMargin: 0 auto;

@mixin displayBlock() {
  display: block;
  width: 100%;
}

.DailyReport_Container {
  @include media(">=phone", "<=tablet") {
    width: 400px;
  }
  @include displayBlock();
  @extend .Login_Container;

  width: 800px;
  margin-bottom: 30px;

  .DailyReportTable_Container {
    padding: 15px 30px;
  }

  table {
    width: 100%;
  }

  li {
    list-style-type: none;
  }

  td,
  tr,
  th {
    text-align: left;
    padding-left: 10px;
  }

  td,
  tr,
  th,
  table,
  tbody {
    border-style: solid !important;
    border-width: 1px;
  }
}
