@import "./dashboard.scss";
@import './main.scss';
$primaryMargin: 0 auto;

@mixin displayBlock() {
  display: block;
  width: 100%;
}

.DailyReport_Container {
  @include media(">=phone", "<=tablet") {
    overflow: auto;
    padding: 0px 20px;
  }
  @include displayBlock();
  @extend .Main_Container;

  width: 800px;
  margin-bottom: 30px;

  .DailyReportTable_Container {
    padding: 15px 30px;
    @include media(">=phone", "<=tablet") {
      width: 90%;
      margin: 0 auto;
    }
  }

  .Submit_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: $primaryMargin;

    background: blue;
    color: white;
    border: none;
  }


  table {
    width: 100%;
  }

  li {
    list-style-type: none;
  }

  td,
  tr,
  th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  td,
  tr,
  th,
  table {
    border-style: solid;
    border-width: 1px;
  }

  .Download_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
