@import "./dashboard.scss";
@import "./main.scss";

.DailyReport_Container {
  @include media(">=phone", "<=tablet") {
    overflow: auto;
    padding: 0px 20px;
  }
  @extend .Display_Flex;
  width: calc(100% - 300px);
  margin-bottom: 30px;
  padding-left: 20px;

  .DailyReportTable_Container {
    @include media(">=phone", "<=tablet") {
      width: 90%;
      margin: 0 auto;
    }
    .drf-title {
      margin-bottom: 20px;
    }
  }

  .Submit_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: $primaryMargin;

    background: blue;
    color: white;
    border: none;
  }

  table {
    width: 100%;
  }

  li {
    list-style-type: none;
  }

  td,
  tr,
  th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  td,
  tr,
  th,
  table {
    border-style: solid;
    border-width: 1px;
  }

  .Download_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
