@import "./dashboard.scss";
@import "./main.scss";

.DailyReport_Container {
  @extend .Display_Inline_Block;

  @media (min-width: 768px) {
    margin-left: 250px;
  }
  height: 100vh;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  @include media(">=phone", "<=tablet") {
    overflow: auto;
    padding: 20px 20px;
    height: 100%;
  }

  .DailyReportTable_Container {
    @include media(">=phone", "<=tablet") {
      float: right;
      position: inherit;
      width: 100%;
      overflow: auto;
      margin: 0 auto;
      height: 100%;
    }
    @include media("<phone") {
      float: right;
      position: inherit;
      width: 100%;
      overflow: auto;
      margin: 0 auto;
      height: 100%;
    }
    .drf-title {
      margin-bottom: 20px;
    }
  }

  .Submit_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: $primaryMargin;

    background: blue;
    color: white;
    border: none;
  }

  table {
    width: 100%;
  }

  li {
    list-style-type: none;
  }

  td,
  tr,
  th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  td,
  tr,
  th,
  table {
    border-style: solid;
    border-width: 1px;
  }

  .Download_Link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    text-decoration: none;
  }

  .Download_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .Download_Link:hover {
    transition: 0.3s;
    background: white;
    color: black;
    border: 1px solid black;
  }
}
