@import "./main.scss";

.Dashboard_Container {
  background-color: #f0f2f5 !important;
  display: flex;
  height: 100%;
  width: 100%;
  @extend .Sidebar_White_Color;

  .nav-toggle-button {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 20%;

    .btn {
      display: none;

      @media (max-width: 768px) {
        display: block;
        width: 100%;
        height: 80px;
        background-color: #1976d2;
        border-color: #1976d2;
        text-align: right;
        color: white;
        border-radius: 0;
      }
    }
  }
}

.NavBar_Container {
  display: inline-block;
  position: absolute;
  justify-content: space-between;
  margin-left: 250px;
}

.span-css {
  margin-left: 10px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  display: block;
  position: fixed;
  width: 100%;
  height: inherit;
  z-index: 9999;
  top: 0;
  bottom: 0;
  background: #1976d2;
  overflow-x: hidden;
  padding: 0;
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  transition: all 0.3s;

  @media (max-width: 768px) {
    position: fixed;
  }
}

#sidebar.active {
  margin-left: -250px;
}

.sidebar-brand {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  img {
    filter: invert(97%) sepia(97%) saturate(14%) hue-rotate(224deg)
      brightness(105%) contrast(104%);
    width: 50px;
    height: 50px;
  }
}

.sidebar-brand-text {
  font-weight: 600 !important;
  font-size: 30px;
  color: #fff !important;
  margin-left: 0.75rem !important;
  position: relative;
  vertical-align: middle;
}

.horizontal-line {
  margin: 0.5rem 1rem !important;
  border-top: 4px solid white;
  border-radius: 5px;
  opacity: 1;
}

.sidenav-footer {
  width: 100% !important;
  bottom: 0 !important;
  position: absolute !important;

  @extend .nav-link;
}

.nav-link {
  color: white;
  padding: 0.75rem 1rem;
  margin: 1.5px 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 400;
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 25px;

  span {
    @extend .span-css;
  }

  &:hover,
  &:focus {
    background-color: #8fddff;
    color: black;
  }
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  @extend .nav-link;
}

.sidebar-dropdowns {
  z-index: 9999;
  height: 200px;
  box-shadow: 0px -1px 11px -2px rgba(199, 238, 255, 0.66);
  margin: 0 16px;
  border-radius: 0.375rem;
}



@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
