@import "./main.scss";
@import "./loading.scss";

.DRCreate_Container {
  float: right;
  position: inherit;
  height: 100vh;

  .Date_Container {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .form-check {
    min-height: 2.5rem;
  }
  .form-check-label {
    padding-left: 1rem;
    margin-top: 0.5em;
  }
  .form-check-input {
    width: 2em;
    height: 2em;
  }

  #outlined-number {
    width: 150px;
    display: block;
  }
  #outlined-multiline-static {
    width: 300px;
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 20px 20px;
  }

  .daily-report-form-block {
    display: block;
    margin: 20px 20px;
  }

  .Submit_Button {
    width: 200px;
    padding-bottom: 20px;
  }
}
