@import "./main.scss";
@import "./loading.scss";
@import "~include-media/dist/_include-media.scss";

.DRCreate_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;
  @extend .Sidebar_Black_Color;

  .Form_Container {
    @extend .Shadow;
    @extend .Container_Padding;
  }

  .Date_Container {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .form-check {
    min-height: 2.5rem;
  }
  .form-check-label {
    padding-left: 1rem;
    margin-top: 0.5em;
  }
  .form-check-input {
    width: 2em;
    height: 2em;
  }

  #outlined-number {
    width: 150px;
    display: block;
  }
  #outlined-multiline-static {
    width: 300px;
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 20px 20px;
  }

  .daily-report-form-block {
    display: block;
    margin: 20px 20px;
  }

  .Submit_Button {
    width: 200px;
    padding-bottom: 20px;
  }

  .Activity_Container {
    border: 1px solid #ccc;
  }

  .Plant_Container {
    border: 1px solid #ccc;
  }
}
