@import "./main.scss";

.DRReading_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;
  position:relative;
  z-index: -1;

  .Report_Table_Container {
    @extend .Shadow;
    @extend .Container_Padding;
    @extend .Button_Edits;

    .no-report-header {
      text-align: center;
    }
  }
}
