@import "./main.scss";

.Gantt_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;
  @extend .Sidebar_Black_Color;

  .Gantt_Chart {
    @extend .Shadow;
    @extend .Container_Padding;
  }
}
