@import "./login.scss";

.Headcount_Container {
  @extend .Login_Container;

  #outlined-number {
    width: 150px;
    display: block;
  }

  .MuiFormControl-root {
    margin: 0 auto;
  }

  .Add_Button {
    margin: 0 auto;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 20px;
    width: 50%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    border: $primaryBorder;
    border-radius: $primaryBorderRadius;
  }
}
