@import "./main.scss";

.Headcount_Container {
  @extend .Display_Inline_Block;
  float: right;

  #outlined-number {
    width: 150px;
    display: block;
  }

  .MuiFormControl-root {
    margin: 0 auto;
  }

  .Add_Button {
    display: inline-block;
    margin: 0 auto;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 5px;
    width: 30%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    border: $primaryBorder;
    border-radius: $primaryBorderRadius;
  }

  .headcount-flex {
    display: inline-block;
    margin: 20px 20px;
    align-items: center;

    h1,
    div {
      text-align: center;
    }
  }

  .textfield {
    margin-top: 20px;
  }
}
