@import "./main.scss";

.home-page-container {
  @extend .display-inline-block;
  @extend .container-left-margin;
  @extend .sidebar-black-color;

  .welcome-content {
    @extend .shadow;
    @extend .container-padding;
  }

  .welcome-title {
    margin-bottom: 20px;
  }

  .dr-calendar {
    h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 50px;
    }
  }
}
