.image-container {
  display: none;

  @media (min-width: 768px) {
    display: block;
    height: 100vh;
    flex-grow: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
