@import "./main.scss";

.list-reports-container {
  @extend .display-inline-block;
  @extend .container-left-margin;
  position: relative;

  .list-reports-table-container {
    @extend .shadow;
    @extend .container-padding;
    @extend .button-edits;

    .no-report-header {
      text-align: center;
    }

    .owner-report-only {
      display: inline-flex;
      align-self: flex-start;
      input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }

    .all-reports-checkbox {
      width: 15px;
      height: 15px;
    }
  }
}
