/* Loader CSS */

.loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  border: 0.5em solid rgba(0, 0, 0, 0.2);
  border-left: 0.5em solid #1976d2;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  z-index: -1;
}

.loader--hide {
  display: none;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
