.loader {
  position: absolute;
  left: 48%;
  top: 50%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

td,
tr,
th {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

td,
tr,
th,
table,
tbody {
  border-style: solid;
  border-width: 1px;
}
