.auth-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  .form-container {
    padding: 50px;
    width: 100%;
    min-width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    @media (min-width: 768px) {
      flex: 1;
    }

    @media (max-width: 768px) {
      width: 100%;
      min-width: none;
    }

    @media (max-height: 600px) {
      display: block;
    }

    h1 {
      text-align: center;
    }
  }

  .form-input {
    padding: 10px 0;
    margin: 20px 0;
    margin-bottom: 0;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    &:focus {
      outline: none !important;
    }
  }

  .input-label {
    line-height: 2;
    text-align: left;
    margin-top: 20px;
    color: black;
    font-weight: 200;
  }

  .submit-button {
    background: #1976d2;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 600;
    border-radius: 0.35rem;
    border-style: none;
  }

  .Loading_Div {
    position: inherit;
  }
}
