.Login_Container {
  box-sizing: border-box;

  h1 {
    text-align: center;
  }

  .Form_Input {
    padding: 10px 15px;
  }

  .Input_Label {
    line-height: 2;
    text-align: left;
    margin-top: 20px;
    color: black;
    font-weight: 200;
  }

  .Submit_Button {
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .Submit_Button:hover {
    transition: 0.3s;
    background: blue;
    color: white;
    border: 1px solid #006dfc;
  }

  .Loading_Div {
    position: inherit;
  }
}
