.Login_Container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 50vh;

  .Form_Container {
    padding: 50px;
    max-width: 500px;
    background-color: white;
  }

  h1 {
    text-align: center;
  }

  .Form_Input {
    padding: 10px 0;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    &:focus {
      outline: none !important;
    }
  }

  .Input_Label {
    line-height: 2;
    text-align: left;
    margin-top: 20px;
    color: black;
    font-weight: 200;
  }

  .Submit_Button {
    background: #1976d2;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 600;
    border-radius: 0.35rem;
    border-style: none;
  }

  .Loading_Div {
    position: inherit;
  }
}
