.Login_Container {
  box-sizing: border-box;
  background-image: url(https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;

  .Form_Container {
    position: absolute;
    right: 0;
    height: 100vh;
    padding: 50px;
    max-width: 500px;
    background-color: white;
  }

  h1 {
    text-align: center;
  }

  .Form_Input {
    padding: 10px 0;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    &:focus {
      outline: none !important;
    }
  }

  .Input_Label {
    line-height: 2;
    text-align: left;
    margin-top: 20px;
    color: black;
    font-weight: 200;
  }

  .Submit_Button {
    background: black;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .Submit_Button:hover {
    transition: 0.3s;
    background: white;
    color: black;
    border: 1px solid black;
  }

  .Loading_Div {
    position: inherit;
  }
}
