@import "~include-media/dist/_include-media.scss";
$primaryMargin: 0 auto;
$navMargin: 20px;
$navPadding: 20px;
$topMargin: 80px;
$primaryBorder: 1px solid black;
$primaryBorderRadius: 3px;
$layout-breakpoint-small: 960px;

@mixin displayBlock() {
  display: block;
  width: calc(100% - 300px);
}

@mixin displayFlex() {
  display: flex;
  flex-direction: column;
  position: relative;
}
@mixin displayInlineBlock() {
  display: inline-block;
  margin-right: 20px;
}

@mixin fontsizeAndMarginBottom($fontSize, $marginBottom) {
  font-size: $fontSize;
  margin-bottom: $marginBottom;
}

.Display_Block {
  @include displayBlock();
}

.Display_Flex {
  @include displayFlex();
  margin-left: $navMargin;
  margin-top: $topMargin;
  margin-bottom: $navMargin;
  margin-right: $navMargin;
  float: right;
  .title {
    margin: $primaryMargin;
    text-align: center;
  }
}

.Display_Inline_Block {
  margin-top: $topMargin;
  margin-bottom: $navMargin;
  margin-right: $navMargin;
  overflow: auto;
  touch-action: auto;

  .title {
    margin: $primaryMargin;
    text-align: center;
  }

  @media (max-width: 768px) {
    margin-top: 100px;
    height: calc(100% - 100px);
  }
}

.Shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.75rem;
  background-color: white;
  --bs-card-border-width: 0px;
}

.Sidebar_White_Color {
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: white;
  }
}

.Sidebar_Black_Color {
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: black;
  }
}

.Container_Margin {
  margin: $navMargin;
}

.Container_Padding {
  padding: $navPadding;
  overflow: auto;
  overflow-y: scroll;
}

.Container_Left_Margin {
  @media (min-width: 768px) {
    margin-left: 270px !important;
    width: calc(100% - 280px) !important;
  }
}

.Container_Nav_Width {
  @include media(">=768px") {
    margin-left: 19rem;
  }
}

.Form_Input {
  padding: 10px 0;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  &:focus {
    outline: none !important;
  }
}

.Input_Label {
  line-height: 2;
  text-align: left;
  margin-top: 20px;
  color: black;
  font-weight: 200;
}

.Bold_Text {
  font-weight: 600;
}

.Submit_Button {
  display: inline-block;
  text-align: center;
  background: #1976d2;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px;
  width: fit-content;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 0.35rem;
  border-style: none;
}

.Loading_Div_Buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0 0 0 10px;
  }
}

.Loading_Div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  p {
    margin: 0 0 0 10px;
  }
}

.Button_Edits {
  .edit-button,
  .view-button {
    background: #1976d2;
    color: #ffffff;
    border-radius: 0.35rem;
    text-decoration: none;
  }

  .delete-button {
    background: #ff0000;
    color: #ffffff;
    // margin: 0 5px;
    // border-radius: 0.35rem;
    // text-decoration: none;
  }

  span {
    margin-left: 5px;
  }

  @include media(">=918px", "<=1048px") {
    .view-button {
      margin-top: 5px;
    }
  }

  @include media("<918px") {
    .delete-button {
      margin-left: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  @include media(">=663px", "<=767px") {
    .delete-button {
      margin-left: 5px;
    }
  }
}
