@import "./main.scss";

.modal-custom {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.report-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;

  h2 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0.5em 0;
    margin:20px 10px;
    cursor: pointer;
  }
}

.close {
  @extend .submit-button;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
