@import "~include-media/dist/_include-media.scss";
$primaryMargin: 0 auto;
$navMargin: 20px;
$primaryBorder: 1px solid black;
$primaryBorderRadius: 3px;
$layout-breakpoint-small: 960px;

@mixin displayBlock() {
  display: block;
  width: calc(100% - 300px);
}

@mixin displayFlex() {
  display: flex;
  width: calc(100% - 120px);
}
@mixin displayInlineBlock() {
  display: inline-block;
  width: calc(100% - 320px);
  margin-right: 20px;
}

@mixin fontsizeAndMarginBottom($fontSize, $marginBottom) {
  font-size: $fontSize;
  margin-bottom: $marginBottom;
}

.Display_Block {
  @include displayBlock();
}

.Display_Flex {
  @include displayFlex();
  margin: $navMargin $navMargin;
  flex-direction: column;
  float: right;
  position: inherit;
  .title {
    margin: $primaryMargin;
    text-align: center;
  }
}

.Display_Inline_Block {
  @include displayInlineBlock();
  margin-left: $navMargin;
  margin-top: $navMargin;
  float: right;
  position: inherit;

  .title {
    margin: $primaryMargin;
    text-align: center;
  }
}

.Form_Input {
  padding: 10px 0;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  &:focus {
    outline: none !important;
  }
}

.Input_Label {
  line-height: 2;
  text-align: left;
  margin-top: 20px;
  color: black;
  font-weight: 200;
}

.Submit_Button {
  background: black;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 3px;
}
.Submit_Button:hover {
  transition: 0.3s;
  background: white;
  color: black;
  border: 1px solid black;
}
