@import "~include-media/dist/_include-media.scss";
$primaryMargin: 0 auto;
$navMargin: 20px;
$primaryBorder: 1px solid black;
$primaryBorderRadius: 3px;
$layout-breakpoint-small: 960px;

@mixin displayBlock() {
  display: block;
  width: calc(100% - 300px);
}

@mixin displayFlex() {
  display: flex;
  width: calc(100% - 300px);
}
@mixin displayInlineBlock() {
  display: inline-block;
  width: calc(100% - 320px);
  margin-right: 20px;
}

@mixin fontsizeAndMarginBottom($fontSize, $marginBottom) {
  font-size: $fontSize;
  margin-bottom: $marginBottom;
}

.Display_Block {
  @include displayBlock();
}

.Display_Flex {
  @include displayFlex();
  margin: $navMargin $navMargin;
  flex-direction: column;
  float: right;
  position: inherit;
  .title {
    margin: $primaryMargin;
    text-align: center;
  }
}

.Display_Inline_Block {
  @include displayInlineBlock();
  margin-left: $navMargin;
  margin-top: $navMargin;
  float: right;
  position: inherit;

  .title {
    margin: $primaryMargin;
    text-align: center;
  }
}
