@import "./login.scss";
@import "./main.scss";

.home-page-container {
  @extend .display-inline-block;
  @extend .container-left-margin;
  @extend .sidebar-black-color;

  .welcome-content {
    @extend .shadow;
    @extend .container-padding;
  }

  .welcome-title {
    margin-bottom: 20px;
  }

  .dr-calendar {
    h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 50px;
    }
  }

  .submit-button {
    @extend .submit-button;
    display: block !important;
    margin: 0 auto;
  }

  /* React Big Calendar CSS*/

  #tmwdp-calendar .rbc-toolbar-label {
    color: #ff0000;
    font-size: 20px;
  }

  .rbc-month-view {
    order: -1;
  }

  .rbc-button-link:not(.rbc-show-more) {
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px; /* This increases the clickable area */
    text-align: center;
  }

  .rbc-calendar {
    height: 700px;
  }

  .rbc-toolbar .rbc-toolbar-label {
    font-weight: 600;
    font-size: 40px;
  }

  .day-view .rbc-toolbar .rbc-toolbar-label {
    width: 100%;
  }

  .rbc-toolbar button {
    background: #1976d2;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 600;
    border-radius: none;
    border-style: none;
    box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15),
      0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
  }

  .rbc-toolbar button:hover {
    background: #ffffff;
    color: #1976d2;
  }

  .rbc-toolbar .rbc-btn-group:last-child button:nth-last-child(1) {
    display: none;
  }

  .day-view .rbc-toolbar .rbc-btn-group:first-child {
    display: none; /* Hides Calendar Nav on day view */
  }

  .rbc-toolbar button:active,
  .rbc-toolbar button.rbc-active {
    background: #ffffff;
    color: #1976d2;
  }

  .rbc-toolbar button:active:hover,
  .rbc-toolbar button:active:focus,
  .rbc-toolbar button.rbc-active:hover,
  .rbc-toolbar button.rbc-active:focus {
    background: #ffffff;
    color: #1976d2;
  }

  @media (min-width: 768px) {
    .rbc-toolbar button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .rbc-month-view {
      order: 1;
    }

    .rbc-button-link {
      font-size: 18px;
    }

    .rbc-calendar {
      margin: 5px;
      height: 650px;
      font-size: 10px;
    }

    .rbc-show-more {
      font-size: 10px;
    }

    .rbc-date-cell {
      height: 25px;
    }

    .rbc-toolbar-label {
      width: 100%;
    }

    .rbc-toolbar button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-width: 30%;
      padding: 5px 15px;
    }

    .rbc-btn-group {
      display: flex;
      justify-content: space-around; /* Distribute buttons evenly across the line */
      flex-wrap: wrap; /* Allow the buttons to wrap onto the next line if necessary */
      white-space: normal; /* Allow text to wrap onto the next line */
      margin: 20px 0;
    }

    .rbc-btn-group.button {
      align-items: center;
    }
  }
}
