.sidenav-main {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  background: black;
  overflow-x: hidden;
  padding: 0;
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  max-width: 16.625rem;
  margin: 16px 0 16px 16px;
  border-radius: 0.75rem;
  transition: .3s;
}

.sidebar-brand {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  img {
    filter: invert(97%) sepia(97%) saturate(14%) hue-rotate(224deg)
      brightness(105%) contrast(104%);
    width: 50px;
    height: 50px;
  }
}

.sidebar-brand-text {
  font-weight: 600 !important;
  font-size: 30px;
  color: #fff !important;
  margin-left: 0.75rem !important;
  position: relative;
  vertical-align: middle;
}

.sidebar-close-btn {
  position: relative;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 20px;
  background-color: black;
  color: white;
  border: none;
}

.horizontal-line {
  margin: 0.5rem 1rem !important;
  border-top: 4px solid white;
  border-radius: 5px;
  opacity: 1;
}

.sidebar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 100px);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  margin-top: 0.125rem;
  width: 100%;
}


