.navbar-custom-css {
  background-color: black;
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex: 1;
  z-index: 1032;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  .sidebar-heading-container {
    justify-content: center;
  }

  .sidebar-heading {
    font-size: 60px;
  }

  .sidebar-dropdowns {
    padding-left: 50px;
    text-decoration: none;
  }

  .nav-link {
    font-size: 23px;
    color: white;
    &:hover {
      color: red;
    }
    &:active {
      background-color: rgb(255, 255, 255);
    }
  }

  .link-white {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}

.navbar-custom-css > .active > a {
  color: red;
}
