.SignIn_Container {
  background-image: url("../images/istockphoto-1267010934-1024x1024.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
