@import "./main.scss";

.TipTap_Container {
  button {
    display: inline-block;
    background: black;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    word-wrap: break-word;
    padding: 1px;
    width: fit-content;
    margin: 5px 5px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .ProseMirror p.is-editor-empty {
    margin-top: 0;
    margin-bottom: 5rem;
  }
}
