@import "../main.scss";

.C1_Container {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @extend .Display_Inline_Block;

  .Form_Input {
    margin: 5px 0;
  }
}

.ReactGraph_Container {
  @extend .Display_Inline_Block;
  float: right;

  table {
    th,
    tr,
    td {
      border: 1px solid;
    }
  }
}
