@import "../main.scss";

.CMCreate_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;

  .Create_Container {
    @extend .Shadow;
    @extend .Container_Padding;
  }
  .Dropdown_Component {
    margin-bottom: 50px;
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 10px 10px;
  }

  .form-input {
    margin: 5px 0;
  }

  .view-data,
  .view-graph {
    a {
      text-decoration: none;
    }
  }
}
