@import "../main.scss";

.CM_Create_Container {
  .Form_Container {
    @extend .Shadow;
    @extend .Container_Padding;
  }

  .X-group,
  .Y-group,
  .Z-group {
    li {
      text-decoration: none;
    }
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 10px 10px;
  }

  .Form_Input {
    margin: 5px 0;
  }

  .view-data,
  .view-graph {
    a {
      text-decoration: none;
    }
  }
}
