@import "../main.scss";

.CM_Edit_Container {
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;
  .form-container {
    @extend .Shadow;
    @extend .Container_Padding;
  }

  .X-group,
  .Y-group,
  .Z-group {
    li {
      text-decoration: none;
    }
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 10px 10px;
  }

  .form-input {
    margin: 5px 0;
  }

  .view-data,
  .view-graph {
    a {
      text-decoration: none;
    }
  }
}
