@import "../main.scss";

.LeftBank {
  @extend .Main_Container;
  margin: 0 auto;
  @include media(">=phone") {
    width: 1000px;
  }
  .Section_Title {
    text-align: center;
    margin-top: 1rem;
  }
  td,
  th {
    border-style: solid;
    border-width: 1px;
  }
}
