@import "../main.scss";

.CM_Reading {
  @extend .Display_Inline_Block;
  @extend .Shadow;
  @extend .Container_Padding;
  @extend .Container_Left_Margin;
}

.CM_Table_Container {
  display: inline-block;
  table {
    @include media(">=phone", "<=tablet") {
      float: right;
      position: inherit;
      width: 100%;
      overflow: auto;
      margin: 0 auto;
      height: 100%;
    }
  }

  .create-reading,
  .view-graph {
    a {
      text-decoration: none;
    }
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 20px 20px;
  }

  @media (max-width: 473px) {
    .create-reading {
      margin-top: 30px;
    }
  }
}
