@import "../main.scss";

.CM_Reading_Container {
 
  @extend .Display_Inline_Block;
  @extend .Container_Left_Margin;

  .Reading_Table_Container {
    @extend .Shadow;
    @extend .Container_Padding;
    @extend .Button_Edits;
  }

  .create-reading,
  .view-graph {
    a {
      text-decoration: none;
    }
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 20px 20px;
  }

  @media (max-width: 473px) {
    .create-reading {
      margin-top: 30px;
    }
  }
}
