@import "../main.scss";

.C1_Table_Container {
  @extend .Display_Inline_Block;
  @extend .Shadow;
  @extend .Container_Padding;
  @extend .Container_Left_Margin;

  .create-reading,
  .view-graph {
    a {
      text-decoration: none;
    }
  }

  .daily-report-form-flex {
    display: inline-block;
    margin: 20px 20px;
  }

  @media (max-width: 473px) {
    .create-reading {
      margin-top: 30px;
    }
  }
}
