.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  border: 0.5em solid rgba(0, 0, 0, 0.2);
  border-left: 0.5em solid #1976d2;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  z-index: -1;
}

.loader--hide {
  opacity: 0;
}

#tmwdp-calendar .rbc-toolbar-label {
  color: #ff0000;
  font-size: 20px;
}

/* React Big Calendar CSS*/

.rbc-month-view {
  order: -1;
}

.rbc-calendar {
  height: 600px;
}

.rbc-toolbar .rbc-toolbar-label {
  font-weight: 600;
  font-size: 40px;
}

.rbc-toolbar button {
  background: #1976d2;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: none;
  border-style: none;
  box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15),
    0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}

.rbc-toolbar button:hover {
  background: #ffffff;
  color: #1976d2;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background: #ffffff;
  color: #1976d2;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  background: #ffffff;
  color: #1976d2;
}

@media (min-width: 768px) {
  .rbc-toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .rbc-month-view {
    order: 1;
  }

  .rbc-calendar {
    margin: 5px;
    height: 750px;
  }

  .rbc-toolbar .rbc-btn-group:last-child {
    display: none;
  }

  .rbc-toolbar-label {
    width: 100%;
  }

  .rbc-toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 5px 15px;
  }

  .rbc-btn-group {
    display: flex;
    justify-content: space-around; /* Distribute buttons evenly across the line */
    flex-wrap: wrap; /* Allow the buttons to wrap onto the next line if necessary */
    white-space: normal; /* Allow text to wrap onto the next line */
    margin: 20px 0;
  }

  .rbc-btn-group.button {
    align-items: center;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
