@import "../login.scss";

.Tunnels_Container {
  @extend .Login_Container;
  @include media(">=desktop") {
    width: 70%;
    margin: 0 auto;
  }
  .Tunnels_Title {
    text-align: center;
  }

  .Add_Instrument_Button {
    button {
      margin: 0 auto;
      position: absolute;
    }
  }
  .no_instruments {
    margin-top: 20px;
  }
}
